APP_ENV=staging
EXPO_PUBLIC_API_URL=https://api-staging.amble.vn/api
EXPO_PUBLIC_SENTRY_DSN=https://your-react-native-dsn@oXXX.ingest.sentry.io/XXX
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_ios_client_id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_web_client_id.apps.googleusercontent.com
